{
    "printWidth": 120,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "endOfLine": "auto",
    "trailingComma": "none",
    "useTabs": false
}
